<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Two-Way Binding</title>
    <script src="../../angular-1.8.2/angular.min.js"></script>
</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <h2>User Full Name Generator</h2>

        <p>Type in the boxes below to see the name update automatically:</p>

        <label>First Name:</label>
        <input type="text" ng-model="firstName" placeholder="Enter first name">
        <br><br>

        <label>Last Name:</label>
        <input type="text" ng-model="lastName" placeholder="Enter last name">
        
        <hr>

        <h3>Full Name: <span style="color: blue;">{{ firstName + " " + lastName }}</span></h3>

    </div>

    <script>
        // 5. Define the Module and Controller
        var app = angular.module('myApp', []);
        
        app.controller('myCtrl', function($scope) {
            // Initialize default values
            $scope.firstName = "";
            $scope.lastName = "";
        });
    </script>

</body>
</html>